<header>

  <body>
    <nav class="navbar navbar-expand-sm navbar-dark">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a routerLink="home" routerLinkActive="active" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a routerLink="tourist-form" routerLinkActive="active" class="nav-link">Tourist Registration</a>
        </li>
        <li class="nav-item">
          <a routerLink="tourists-list" routerLinkActive="active" class="nav-link">View Tourist List</a>
        </li>
      </ul>
    </nav>

    <h1 class="text-center"> {{title}} </h1>

    <div class="container">
      <router-outlet></router-outlet>
    </div>

    <footer class="footer">
      <div class="container">
        <span>Just make your mind and leave rest to us.</span>
      </div>
    </footer>
  </body>
</header>